*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.vsix

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml
*.ipr
*.iws

# gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# mac
.DS_Store

.classpath
.project
.settings
.vscode

# code coverage reports
/.jacoco

**/.eslintrc.json
**/node_modules
**/out
